services:

  backend_rds:
    image: 084375565192.dkr.ecr.us-east-1.amazonaws.com/backend_rds:latest
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=${DATABASE_HOST}
      - DB_PORT=${DATABASE_PORT}
      - DB_USER=${DATABASE_USER}
      - DB_PASSWORD=${DATABASE_PASSWORD}
      - DB_NAME=${DATABASE_NAME}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
    networks:
      - app-network

  backend_redis:
    image: 084375565192.dkr.ecr.us-east-1.amazonaws.com/backend_redis:latest
    ports:
      - "4000:4000"

    depends_on:
      - redis
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
    networks:
      - app-network

 
networks:
  app-network:
    driver: bridge
